*

!.gitignore

# NIX
!default.nix

# BUILD SYSTEMS
!Cargo.lock
!Cargo.toml

# SOURCES
!cab/
!cab/src/

!cab-error/
!cab-error/src/

!cab-island/
!cab-island/src/

!cab-report/
!cab-report/src/

!cab-syntax/
!cab-syntax/src/

!cab-text/
!cab-text/src/

!fuzz/
!fuzz/fuzz_targets/

!task/
!task/src/

!*.rs

# DOCUMENTATION
!*.md
