*

!.cargo/

!cab/
!cab/src/

!cab-report/
!cab-report/src/

!cab-syntax/
!cab-syntax/src/

!docs/

!fuzz/
!fuzz/fuzz_targets/

!task/
!task/src/

!.gitignore

!*.cab
!*.lock
!*.md
!*.nix
!*.rs
!*.toml
